/* animations coeurs */

.heart{
    position: relative;
    margin: 2% 5%;
    
    .hover-icon{
        opacity: 0;
        position: absolute;
        left:0;
    }
    i{
        margin-top: 25px;
        font-size: 25px;
        opacity: $opacity;  
    }
    &:hover{
        cursor: pointer;
        overflow:hidden;
        .default-icon{
            opacity: 0;
            transition: 1s 0s ease;
        }
        .hover-icon{
            color:$colorprimary;
            opacity:1;
            transition: 0.5s 0s ease;
            z-index: 999;
        }
    }
}
/*
@media only screen and (max-width: 1024px){
    .heart{
        &:checked{
            overflow:hidden;
            .default-icon{
                opacity: 0;
                transition: 1s 0s ease;
            }
            .hover-icon{
                color:$colorprimary;
                opacity:1;
                transition: 1s 0s ease;
                z-index: 999;
            }
        }
    } 
}*/