/* Couleurs de la Page */
$colorprimary: #9356dc;
$colorsecondary: #ff79da;
$colortertiary: #99e2d0;
$colorbackground1: #d3d1d1;
$colorbackground2: #f2f2f2;
$colorfont: #000;
$opacity:0.6;
$colordefault: #FFF;
/* Polices */
$font: 'robotoregular', sans serif;
$font2: 'shrikhand', sans serif;
/* Héritage */
%shadow{
    box-shadow: 5px 5px 10px #d3d1d1;
}
body{
    width:100%;
    margin: 0;
}
.header{
    display: flex;
    flex-wrap: wrap;
    
    .return{
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 500px;
        color: $colorfont;
    }
    .arrow{
        font-size: 2rem; 
        margin: 10px auto;    
    }
    .logo{
        display: block;
        margin: 10px;
        width: 25%;
        height: 25%;
    
    }
}
.photo__restaurant{
    display: block;
    margin:0;
    height: 280px;
    .background__photo{
        object-fit: cover;
        width: 100%;
        height: 300px;
        position: relative;
    } 
}
.menu__restaurant{
    background-color: $colorbackground2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    width: 100%;    
    .menu__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 120px;
    }
    
    h1{
        font-family: $font2;      
    }
    .heart{
        margin:0 10%;
        font-size: 25px;
        opacity: $opacity;
    }
}

.menu__parties{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    
}
.entrees{
    background-color: $colorbackground2;
    width:30%;
    margin: 0 4% 0 auto;    
    .trait{
        width: 70px;
        height: 3px;
        background-color: $colortertiary;
        margin: -10px 0 30px 45px;
        }
    h2{
       font-family: $font;
        }
    .operationtitle{
            font-family:$font;
            margin-left: 10%;
            font-size: 26px;
            position: relative;
        }
    .button{
        width: 85%;
        background-color: $colordefault;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-family: $font;
        border-radius: 20px;
        padding: 1% 2%;
        margin: 0 2% 2% 10%;
        @extend %shadow;
        .titlecard{
            margin: 4% 0 0 0;
            }
        .btn{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 0 2% 0;
        p{
                opacity: $opacity;
                margin: 0 0 3% 0;
            }
        .price{
                font-weight: bold;
            }
        }
    }

}


@media only screen and (max-width: 1024px){
    .header{
        
        .arrow{
            font-size: 1.5rem;
        }
        .return{
            margin-right:30%;
        }

    }
    .menu__parties{
        flex-direction: column;
        }
        .entrees{
            width: 90%;
            margin: 0 2% 0 2%;
            .operationtitle{
                margin-left: 2%;
            }
            .trait{
                margin-left: 2%;
            }
            .button{
                margin-left : 3%;
                height: 50px;
                .titlecard{
                    margin-top: 0.5%;
                }
            }
        }
    
}
@media only screen and (max-width: 767px){

    .header{
        justify-content: center;
        margin-right: 25%;
        .arrow{
        font-size: 1rem;
        }
        .logo {
        width: 150px;
        height: 50%;
        }
        .return{
            margin-right: 35%;
            margin-left:0;
        }
    }
    .menu__restaurant{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        
        .menu__title{
            padding-left: 0;
        }
        .heart{
            margin:0 25px
        }
    }
.menu__parties{
    .entrees{
        .button{
            height: 70px;
            padding: 0 2%;
            .titlecard{
                margin-top: 2.5%;
            }
        }
    }
}
}
