.loading-spinner{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ff79da;
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display:flex;
  align-items:center;
  justify-content:center;
}

.loader{
    /* création du loader */
    border: 10px solid #f3f3f3;
    border-top : 10px solid #99e2d0;
    border-bottom : 10px solid #9356dc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation :spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
    
    /* placement du loader au milieu de la page */

    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
    /* animation du loader */

    @keyframes spin {
        0% {
            transform: rotate(0deg);
            
        }
        100% {
            transform: rotate(360deg);
            
        }
    }
    
    @-moz-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
        }
        100%{
            -moz-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(360deg);
        }
    }

        @keyframes loader{
        0% {
          opacity: 1;
          z-index: 100;
        }
        100% {
          opacity:0;
          z-index:-100;
}
      } 