/* Polices page */
@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
         url('./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Couleurs de la Page */
$colorprimary: #9356dc;
$colorsecondary: #ff79da;
$colortertiary: #99e2d0;
$colorbackground1: #d3d1d1;
$colorbackground2: #f2f2f2;
$colorfont: #000;
$opacity:0.6;
$colordefault: #FFF;

/* Polices */
$font: 'robotoregular', sans serif;
$font2: 'shrikhand', sans serif;

/* Héritage */
%shadow{
    box-shadow: 5px 5px 10px #d3d1d1;
}

/* Imports SCSS */
@import "palettestyle.scss";
@import "spinner.scss";

.logo {
    display: block;
    margin: 10px auto;
    width: 25%;
    height: 25%;
}

#search {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    background-color: $colorbackground1;
       
    .searchfield {
    border-style: none;
    margin-left: 5px;
    background-color: $colorbackground1;
    font-weight: bolder;
    font-family: 'robotoregular', sans-serif;
    color: $colorfont;
    }
    .mapmarker {
        margin-left: 5%;
        margin-right: 0;
    }
}
.menu{
    background-color: $colorbackground2;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
    text-align: center;

    h2{
        font-family: $font;
        font-size: 20px;
        background-color: $colorbackground2;
    }

    p{
        width: 90%;
        font-family: $font;
        font-size: 16px;
        opacity: $opacity;
        background-color: $colorbackground2;
        margin: 0 0 45px 0;
    }

    .button{
        background-color:$colorsecondary;
        background-image: linear-gradient(to bottom right, $colorsecondary, $colorprimary);
        width: 20%;
        height: 100px;
        border-radius: 35px;
        padding: 17px 5px;
        margin-bottom: 63px;
        @extend %shadow;
        .explorebutton{
        font-family: $font;
        color: $colordefault;
        text-decoration: none;
        
        }
    }
}
.operation{
    
    .operationtitle{
        font-family:$font;
        margin-left: 10%;
        font-size: 26px;
        position: relative;
    }
    .select{
        display: flex;
        justify-content: center;
    }
    .operationnumber{
        background-color: $colorprimary;
        color: $colordefault;
        border-radius: 20px;
        padding: 5px 10px;
        position: absolute;
        margin-left: -2.5%;
        margin-top: 1.1%;       
    }
    .operationcard {
        width: 25%;
        background-color: $colorbackground2;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        border-radius: 20px;
        padding: 0.5% 2%;
        margin: 0 2% 2% 5%;
        align-items: center;
        &:hover{
            background-color: $colorbackground1;
            .restauranticon{
                color: $colorprimary;
            }
            }
        @extend %shadow;
        .titlecard{
            padding-left: 1%;
            font-family: $font;
            color: black;
            width: 100%;
            }
        .restauranticon {
            margin: 0 20px;
            text-align: center;
            }
    }
}

.eat{
    background-color: $colorbackground2;
    .operationtitle{
        font-family:$font;
        margin-left: 10%;
        font-size: 26px;
        position: relative;
        padding-top: 20px;
    }
    .restaurant{
        display: flex;
        justify-content: space-between;
        height: 300px;
        .new{
            background-color: $colortertiary;
            color: #2c9c81;
            font-weight: bold;
            font-family: $font;
            padding: 3px 10px;
            position: absolute;
            right: 10px;
            top:10px;
        }
        .restaurantcard {
            border-radius: 20px;
            display:flex;
            background-color: $colordefault;
            flex-direction: column;
            width: 325px;
            height: 250px;
            justify-content: space-between;
            margin: 0 2%;
            position:relative;
            @extend %shadow;
          }
        .card {
            text-decoration: none;
          }
        figure{
            margin:0;
        }
        .legend{
            font-weight: bold;
            font-size: 14px;
            font-family: $font;
            margin-top: -1em;
            margin-right: 20px;
            padding-left: 7%;
            display:flex;
            justify-content: space-between;
            color:$colorfont;
            .lieu{
                margin-top: 2%;
            }
            .lieu h3{
                margin-bottom:0;
            }
            .lieu p {
                opacity: $opacity;
                font-weight: normal;
                margin-top:0;
            }
            .heart{
                margin-top: 25px;
                font-size: 25px;
                opacity: $opacity;
            }
          }
      }
      .photo{  
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 11rem;
        object-fit: cover;
      }
    }
    .footer{
        background-color: #353535;
        padding: 20px 0 20px 40px;
        .footer__bloc{
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
        .footer__logo{
            color: #fff;
            font-family: $font2;
            font-size: 1.2rem;
            margin: 0 0 1rem;
        }
        .footer__list{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .footer__line{
            margin: 0.5rem 0;
            font-family: $font;
        }
        .footer__link{
            color: $colordefault;
            text-decoration: none;
        }
        .footer__icon{
            display: inline-block;
            width: 1.2rem;
            margin-right: .5rem;
        }
        
    }
@media only screen and (max-width: 1024px){
    #search {
          
        .mapmarker{
            margin-left: 10%;
        }
    }
    .menu{
        text-align: center;
        
        .button {
            width:28%;
            
            }
    }
    .operation{
        margin-left: 1%;
        .operationtitle{
            font-size:18px;
            margin-left: 5%;
        }
        .operationcard{
            width: 35%;
            padding: 0;
            margin: 12px 15px;
            font-size: 14px;
        }
        .operationnumber{
            margin-left: -1.5%;
            margin-top: 1.6%;
        }
    }
    .eat{
        .restaurant{
            flex-wrap: wrap;
            height: 100%;
            justify-content: center;
            .restaurantcard{
                margin:1% 3% 5% 3%;
                width: 40%;
            }
            
        }
    }
}
@media only screen and (max-width: 767px){

    .logo {
        width:50%;
        height: 50%;
    }
    .menu{
        text-align: center;
        
        .button {
            width:60%;
            max-width: 220px;
            border-radius: 35px;
            .explorebutton{
                margin-left: 0;
            }
        }
    }
    .operation{
        .select{
            flex-direction: column;
        }
        .operationnumber{
            margin-top: 1.15em;
        }
        .operationcard{
           width: 90%;
           padding: 0;
           margin: 10px 20px;
           .titlecard{
            padding-left: 5%;
           }
        }
    }
    .eat{
        .restaurant{
            flex-direction: column;
            height: 100%;
            padding: 0 0 7% 0;
            .restaurantcard {
                margin: 10px auto;
                width: 94%;
            }
        }
    }
    .footer{
        padding: 0;
    }
}