@charset "UTF-8";
/* Polices page */
@font-face {
  font-family: "robotoregular";
  src: url("./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2") format("woff2"), url("./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("./fonts/Roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Couleurs de la Page */
/* Polices */
/* Héritage */
.eat .restaurant .restaurantcard, .operation .operationcard, .menu .button, .command__button .btn__command, .entrees .button {
  box-shadow: 5px 5px 10px #d3d1d1;
}

/* Imports SCSS */
/* Couleurs de la Page */
/* Polices */
/* Héritage */
.eat .restaurant .restaurantcard, .operation .operationcard, .menu .button, .command__button .btn__command, .entrees .button {
  box-shadow: 5px 5px 10px #d3d1d1;
}

body {
  width: 100%;
  margin: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
}
.header .return {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 500px;
  color: #000;
}
.header .arrow {
  font-size: 2rem;
  margin: 10px auto;
}
.header .logo {
  display: block;
  margin: 10px;
  width: 25%;
  height: 25%;
}

.photo__restaurant {
  display: block;
  margin: 0;
  height: 280px;
}
.photo__restaurant .background__photo {
  object-fit: cover;
  width: 100%;
  height: 300px;
  position: relative;
}

.menu__restaurant {
  background-color: #f2f2f2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: 100%;
}
.menu__restaurant .menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
}
.menu__restaurant h1 {
  font-family: "shrikhand", sans serif;
}
.menu__restaurant .heart {
  margin: 0 10%;
  font-size: 25px;
  opacity: 0.6;
}

.menu__parties {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.entrees {
  background-color: #f2f2f2;
  width: 30%;
  margin: 0 4% 0 auto;
  /*.trait{
      width: 70px;
      height: 3px;
      background-color: $colortertiary;
      margin: -10px 0 30px 45px;
      }
  h2{
     font-family: $font;
      }*/
}
.entrees .operationtitle {
  font-family: "robotoregular", sans serif;
  margin-left: 10%;
  font-size: 26px;
  position: relative;
}
.entrees .operationtitle::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  background-color: #99e2d0;
  left: 0;
  bottom: -12px;
}
.entrees .button {
  width: 85%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: "robotoregular", sans serif;
  border-radius: 20px;
  padding: 1% 2%;
  margin: 0 2% 2% 10%;
}
.entrees .button .titlecard {
  margin: 4% 0 0 0;
}
.entrees .button .btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 2% 0;
}
.entrees .button .btn p {
  opacity: 0.6;
  margin: 0 0 3% 0;
  font-size: 0.9em;
}
.entrees .button .btn .price {
  font-weight: bold;
}

.command__button {
  margin-top: 70px;
  margin-left: 43%;
  text-align: center;
  display: flex;
  align-items: center;
}
.command__button .btn__command {
  background-color: #ff79da;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  width: 20%;
  border-radius: 35px;
  padding: 17px 5px;
  margin-bottom: 63px;
}
.command__button .btn__command .explorebutton {
  font-family: "robotoregular", sans serif;
  color: #FFF;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .header .arrow {
    font-size: 1.5rem;
  }
  .header .return {
    margin-right: 30%;
  }

  .menu__parties {
    flex-direction: column;
  }

  .entrees {
    width: 90%;
    margin: 0 2% 0 2%;
  }
  .entrees .operationtitle {
    margin-left: 2%;
  }
  .entrees .trait {
    margin-left: 2%;
  }
  .entrees .button {
    margin-left: 3%;
    height: 50px;
    width: 93%;
  }
  .entrees .button .titlecard {
    margin-top: 0.5%;
  }

  .command__button {
    margin-top: 50px;
    margin-left: 40%;
  }
  .command__button .btn__command {
    width: 30%;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    justify-content: center;
    margin-right: 25%;
  }
  .header .arrow {
    font-size: 1rem;
  }
  .header .logo {
    width: 140px;
    height: 50%;
  }
  .header .return {
    margin-right: 35%;
    margin-left: 0;
  }

  .menu__restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
  }
  .menu__restaurant .menu__title {
    padding-left: 2%;
    width: 90%;
  }
  .menu__restaurant .heart {
    margin: 0 5%;
  }

  .menu__parties .entrees .button {
    height: 70px;
    padding: 0 2%;
    width: 96%;
  }
  .menu__parties .entrees .button .titlecard {
    margin-top: 2.5%;
  }

  .command__button {
    margin-top: 70px;
    margin-left: 0;
  }
  .command__button .btn__command {
    width: 150px;
  }
}
.loading-spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: loading-spinner-background 2700ms forwards;
  background-color: #ff79da;
  z-index: 1;
  transition: animation 2.5s linear 0.5ms;
  opacity: 0.7;
}

.loader {
  /* création du loader */
  border: 10px solid #f3f3f3;
  border-top: 10px solid #99e2d0;
  border-bottom: 10px solid #9356dc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  /* placement du loader au milieu de la page */
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* animation du loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
.logo {
  display: block;
  margin: 10px auto;
  width: 25%;
  height: 25%;
}

#search {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50px;
  background-color: #d3d1d1;
}
#search .searchfield {
  border-style: none;
  margin-left: 5px;
  background-color: #d3d1d1;
  font-weight: bolder;
  font-family: "robotoregular", sans-serif;
  color: #000;
}
#search .mapmarker {
  margin-left: 5%;
  margin-right: 0;
}

.menu {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  text-align: center;
}
.menu h2 {
  font-family: "robotoregular", sans serif;
  font-size: 20px;
  background-color: #f2f2f2;
}
.menu p {
  width: 90%;
  font-family: "robotoregular", sans serif;
  font-size: 16px;
  opacity: 0.6;
  background-color: #f2f2f2;
  margin: 0 0 45px 0;
}
.menu .button {
  background-color: #ff79da;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  width: 20%;
  height: 100px;
  border-radius: 35px;
  padding: 17px 5px;
  margin-bottom: 63px;
}
.menu .button .explorebutton {
  font-family: "robotoregular", sans serif;
  color: #FFF;
  text-decoration: none;
}

.operation .operationtitle {
  font-family: "robotoregular", sans serif;
  margin-left: 10%;
  font-size: 26px;
  position: relative;
}
.operation .select {
  display: flex;
  justify-content: center;
}
.operation .operationnumber {
  background-color: #9356dc;
  color: #FFF;
  border-radius: 20px;
  padding: 5px 10px;
  position: absolute;
  margin-left: -2.5%;
  margin-top: 1.1%;
}
.operation .operationcard {
  width: 25%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  border-radius: 20px;
  padding: 0.5% 2%;
  margin: 0 2% 2% 5%;
  align-items: center;
}
.operation .operationcard:hover {
  background-color: #d3d1d1;
}
.operation .operationcard:hover .restauranticon {
  color: #9356dc;
}
.operation .operationcard .titlecard {
  padding-left: 1%;
  font-family: "robotoregular", sans serif;
  color: black;
  width: 100%;
}
.operation .operationcard .restauranticon {
  margin: 0 20px;
  text-align: center;
}

.eat {
  background-color: #f2f2f2;
}
.eat .operationtitle {
  font-family: "robotoregular", sans serif;
  margin-left: 10%;
  font-size: 26px;
  position: relative;
  padding-top: 20px;
}
.eat .restaurant {
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.eat .restaurant .new {
  background-color: #99e2d0;
  color: #2c9c81;
  font-weight: bold;
  font-family: "robotoregular", sans serif;
  padding: 3px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.eat .restaurant .restaurantcard {
  border-radius: 20px;
  display: flex;
  background-color: #FFF;
  flex-direction: column;
  width: 325px;
  height: 250px;
  justify-content: space-between;
  margin: 0 2%;
  position: relative;
}
.eat .restaurant .card {
  text-decoration: none;
}
.eat .restaurant figure {
  margin: 0;
}
.eat .restaurant .legend {
  font-weight: bold;
  font-size: 14px;
  font-family: "robotoregular", sans serif;
  margin-top: -1em;
  margin-right: 20px;
  padding-left: 7%;
  display: flex;
  justify-content: space-between;
  color: #000;
}
.eat .restaurant .legend .lieu {
  margin-top: 2%;
}
.eat .restaurant .legend .lieu h3 {
  margin-bottom: 0;
}
.eat .restaurant .legend .lieu p {
  opacity: 0.6;
  font-weight: normal;
  margin-top: 0;
}
.eat .restaurant .legend .heart {
  margin-top: 25px;
  font-size: 25px;
  opacity: 0.6;
}
.eat .photo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 11rem;
  object-fit: cover;
}

.footer {
  background-color: #353535;
  padding: 20px 0 20px 40px;
}
.footer .footer__bloc {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer .footer__logo {
  color: #fff;
  font-family: "shrikhand", sans serif;
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.footer .footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer__line {
  margin: 0.5rem 0;
  font-family: "robotoregular", sans serif;
}
.footer .footer__link {
  color: #FFF;
  text-decoration: none;
}
.footer .footer__icon {
  display: inline-block;
  width: 1.2rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  #search .mapmarker {
    margin-left: 10%;
  }

  .menu {
    text-align: center;
  }
  .menu .button {
    width: 28%;
  }

  .operation {
    margin-left: 1%;
  }
  .operation .operationtitle {
    font-size: 18px;
    margin-left: 5%;
  }
  .operation .operationcard {
    width: 35%;
    padding: 0;
    margin: 12px 15px;
    font-size: 14px;
  }
  .operation .operationnumber {
    margin-left: -1.5%;
    margin-top: 1.6%;
  }

  .eat .restaurant {
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
  }
  .eat .restaurant .restaurantcard {
    margin: 1% 3% 5% 3%;
    width: 40%;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    width: 50%;
    height: 50%;
  }

  .menu {
    text-align: center;
  }
  .menu .button {
    width: 60%;
    max-width: 220px;
    border-radius: 35px;
  }
  .menu .button .explorebutton {
    margin-left: 0;
  }

  .operation .select {
    flex-direction: column;
  }
  .operation .operationnumber {
    margin-top: 1.15em;
  }
  .operation .operationcard {
    width: 90%;
    padding: 0;
    margin: 10px 20px;
  }
  .operation .operationcard .titlecard {
    padding-left: 5%;
  }

  .eat .restaurant {
    flex-direction: column;
    height: 100%;
    padding: 0 0 7% 0;
  }
  .eat .restaurant .restaurantcard {
    margin: 10px auto;
    width: 94%;
  }

  .footer {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
